@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);@charset "UTF-8";
html {
  font-family: sans-serif !important;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

h1, h2, h3, h4 {
    -webkit-font-smoothing: antialiased;
}

.home {
	background-image: url("/static/images/bg.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-repeat: repeat-y;
}

.book {
	width: 20rem;
	display: inline-block;
	margin-right: 15px;
}

.card-body{
	height: 13rem;
}